<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>mac</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>pnb.entity.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConfig</display-name>
    <servlet-name>DatabaseConfig</servlet-name>
    <servlet-class>pnb.Config.DatabaseConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConfig</servlet-name>
    <url-pattern>/DatabaseConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersModel</display-name>
    <servlet-name>UsersModel</servlet-name>
    <servlet-class>pnb.model.UsersModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersModel</servlet-name>
    <url-pattern>/UsersModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>pnb.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datatry</display-name>
    <servlet-name>datatry</servlet-name>
    <servlet-class>pnb.Config.datatry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datatry</servlet-name>
    <url-pattern>/datatry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hme</display-name>
    <servlet-name>hme</servlet-name>
    <servlet-class>pnb.hme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hme</servlet-name>
    <url-pattern>/hme</url-pattern>
  </servlet-mapping>
</web-app>